<!DOCTYPE html>
<html>
  <head>
    <title>TWKadai</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class = "wrapper for_image">
     <header>
    <%= image_tag "head.jpg",size: "700x300", class: "img_head" %>
     </header>
  <div class = "main_body">
    <%= yield %>
  </div>
  <footer>
  <%= image_tag "head.jpg",size: "700x300", class: "img_foot" %>
  </footer>
</div>
  </body>
</html>
